<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dutu-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,80},{52,72}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{52,72}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,159},{46,76}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{46,76}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,471},{38,80}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{38,80}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{46,72}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{46,72}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{46,76}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{46,76}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,159},{46,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{46,80}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,420},{40,82}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,82}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{48,76}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{48,76}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>dutu-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{60,71}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,94},{60,71}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,274},{50,65}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,103},{50,65}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{90,157}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{90,157}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,163}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{84,163}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-212.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{80,155}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,7},{80,155}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{72,147}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,19},{72,147}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,326},{82,143}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{82,143}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{90,99}}</string>
                <key>offset</key>
                <string>{-26,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,106},{90,99}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,326},{92,87}}</string>
                <key>offset</key>
                <string>{-27,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,116},{92,87}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,159},{90,113}}</string>
                <key>offset</key>
                <string>{-26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,92},{90,113}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,179},{52,47}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,121},{52,47}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,179},{54,57}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,111},{54,57}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,274},{50,79}}</string>
                <key>offset</key>
                <string>{-10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,89},{50,79}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,159},{54,125}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{54,125}}</string>
                <key>sourceSize</key>
                <string>{172,205}</string>
            </dict>
            <key>dutu-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,103},{54,73}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{54,73}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,103},{54,77}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{54,77}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,64},{54,67}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{54,67}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,172},{50,61}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{50,61}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,120},{50,63}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{50,63}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,120},{66,57}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{66,57}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,408},{80,47}}</string>
                <key>offset</key>
                <string>{-38,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{80,47}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,326},{80,47}}</string>
                <key>offset</key>
                <string>{-38,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{80,47}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>dutu-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,420},{80,47}}</string>
                <key>offset</key>
                <string>{-38,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{80,47}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dutu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f2275f5a2167be4c9ab98e58ee0f3c8$</string>
            <key>textureFileName</key>
            <string>dutu.png</string>
        </dict>
    </dict>
</plist>
